<!DOCTYPE html>
<html>

<head>
      <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
      <meta name="format-detection" content="telephone=no">
      <meta name="msapplication-tap-highlight" content="no">
      <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" type="text/css" href="components/angular-material/angular-material.min.css">
      <link rel="stylesheet" type="text/css" href="components/angular-material-icons/angular-material-icons.css">
      <title>MIR</title>
</head>

<body>
      <header ng-controller="NavigationController as nav" class="md-primary">
            <md-content>
                  <md-toolbar>
                        <nav layout="row" layout-align="center center">
                              <md-button class="md-icon-button" aria-label="Options">
                                    <ng-md-icon icon="menu"></ng-md-icon>
                              </md-button>
                              <h2 class="md-title" hide>
                              <span hide show-sm><img src="img/android-icon-36x36.png"></span>
                              <span hide show-md>Worldvax.org</span>
                              <span hide show-gt-md>Mobile Immunization Registry</span>
                              </h2>
                              <span flex></span>
                              <md-button ng-click="nav.onSearch()">
                                    <ng-md-icon icon="search"></ng-md-icon>
                              </md-button>
                              <md-input-container><span class="md-primary md-hue-1">
                                    <input type="text" ng-model="query" aria-label="Enter search term">
                                    </span>
                              </md-input-container>
                              <md-button hide show-sm ng-click="nav.onNavigate('patient')" class="md-icon-button">
                                    <ng-md-icon icon="local_hospital"></ng-md-icon>
                              </md-button>
                              <md-button hide show-gt-sm ng-click="nav.onNavigate('patient')">
                                    Medical
                              </md-button>
                              <md-menu>
                                    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Settings menu">
                                          <ng-md-icon icon="more_vert"></ng-md-icon>
                                    </md-button>
                                    <md-menu-content>
                                          <md-menu-item>
                                                <md-button ng-click="nav.onNavigate('settings')">Settings</md-button>
                                          </md-menu-item>
                                          <md-menu-item>
                                                <md-button ng-click="nav.onNavigate('about')">About</md-button>
                                          </md-menu-item>
                                    </md-menu-content>
                              </md-menu>
                        </nav>
                  </md-toolbar>
            </md-content>
      </header>
      <md-content>
            <div ng-view></div>
      </md-content>
      <!-- cordova -->
      <script type="text/javascript" src="cordova.js"></script>
      <!-- angular -->
      <script type="text/javascript" src="components/angular/angular.min.js"></script>
      <script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
      <script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
      <script type="text/javascript" src="components/angular-aria/angular-aria.min.js"></script>
      <script type="text/javascript" src="components/angular-material/angular-material.min.js"></script>
      <script type="text/javascript" src="components/angular-material-icons/angular-material-icons.min.js"></script>
      <script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
      <script type="text/javascript" src="components/ngCordova/dist/ng-cordova.min.js"></script>
      <!-- other -->
      <script type="text/javascript" src="components/json.date-extensions/json.date-extensions.min.js"></script>
      <script type="text/javascript" src="components/underscore/underscore-min.js"></script>
      <script type="text/javascript" src="components/pouchdb/dist/pouchdb.min.js"></script>
      <!-- mir -->
      <script type="text/javascript" src="js/navigationModule.js"></script>
      <script type="text/javascript" src="js/searchModule.js"></script>
      <script type="text/javascript" src="js/dataModule.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
</body>

</html>